@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1f2025;
    overflow-x: hidden; 

}

.book{
    width: 92%;
    height: 90%;
    display: flex;
}

.book .left ,
.right{
    width: 80%;
    position: relative;
    height: 100%;
}

.book .left{
    width: 20%;
    background: #2e3037;
}

.book .left img{
    width: 100%;
}

.book .left .play{
    position: relative;
    left: 44%;
    top: -25px;
    background: #fd6565;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #fff;
    box-shadow: 0px 0px 20px #fd6565;
    transition: .3 linear;
    cursor: pointer;
}

.book .left .play:hover{
    transform: rotate(180deg);
}

.book .left .cont{
    color: #fff;
    padding: 0 20px;
}

.book .left .cont h6{
    font-size: 14px;
}

.book .left .cont p{
    font-size: 12px;
    margin-bottom: 10px;
}

.book .right{
    padding: 10px 40px;
    position: relative;

}

.book .right .cover{
    width: 100%;
    height: 300px;
    border-radius: 20px;
    background: url(../img/sl2.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    margin-bottom: 20px;
}

.hide-cover {
    background: none !important;
    background-image: none !important;
}


.book .right .cover .head-time{
    position: absolute;
    height: 60px;
    top: 0px;
    left: 2px;
    right: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
    background: linear-gradient(0deg, transparent , #1f2025);
}

.book .right .head-time::before{
    content: '';
    position: absolute;
    width: 160px;
    height: 100%;
    top: 0;
    right: -25;
    z-index: 1;
}

.book .right .head-time::after{
    content: '';
    position: absolute;
    width: 150px;
    height: 100%;
    top: 0;
    right: -25;
    z-index: 1;
}

.book .right .cover .head-time h3{
    color: #fff;
    font-weight: 600;
}

.book .right .cover .head-time .time{
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.book .right .cover .head-time .time h6{
    font-size: 13px;
    margin-right: 15px;
}

.book .right .cover .head-time .time h6 i{
    margin-right: 5px;
}

.book .right .cover .head-time .time button{
    padding: 4px 10px;
    border-radius: 10px;
    border: 2px solid #fd6565;
    color: #fff;
    background: none;
    cursor: pointer;
    font-size: 11px;
    font-weight: 600;
    transition: .3 linear;
}

.book .right .cover .head-time .time button:hover{
    background: #fd6565;
}

.book .right .data-type{
   position: absolute;
    top: 50px;
    left: 20px;
    right: 10px;
    display: flex;
    justify-content: space-between;
    z-index: 5;
}

.book .right .data-type .left-card,
.book .right .data-type .right-card{
    width: 45%;

}

.book .right .data-type::before{
    content: '';
    position: absolute;
    width: 105%;
    height: 280px;
    left: -30px;
    top: 0;
    z-index: -9;
}

.book .right .cover .left-card .title,
.book .right .cover .right-card .title{
    color: #fff;
}

.book .right .cover .left-card .crd,
.book .right .cover .right-card .crd{
    color: #fff;
    width: 100%;
    overflow-x: auto;
    display: flex;
    align-items: center;
    margin-top: 5px;
    border-top: 1px solid rgba(184, 184, 184, .2);
    padding: 5px 0;
}

.book .right .cover .left-card .crd::-webkit-scrollbar,
.book .right .cover .right-card .crd::-webkit-scrollbar{
    height: 3px;
    background: rgba(184, 184, 184, .2);
}

.book .right .cover .left-card .crd::-webkit-scrollbar-thumb,
.book .right .cover .right-card .crd::-webkit-scrollbar-thumb{
    height: 3px;
    background: rgba(184, 184, 184, .5);
}

.book .right .cover .left-card .crd li,
.book .right .cover .right-card .crd li{
    list-style: none;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

.book .right .cover .left-card .crd li h6:nth-child(2),
.book .right .cover .right-card .crd li h6:nth-child(2){
    background: transparent;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    transition: .3 linear;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}

.book .right .cover .left-card .crd li h6:nth-child(2):hover,
.book .right .cover .right-card .crd li h6:nth-child(2):hover{
    background: #fd6565;
}

/* JS Active Date Class */
.h6_active{
    background: #fd6565 !important;
}

/* Screen Start */
.screen{
    position: absolute;
    top: 137px;
    left: 0px;
    width: 100%;
    border-top: 3px solid #fd6565;
    margin-top: 50px;
    border-radius: 20%;
    overflow: hidden;
    text-align: center;
    padding-top: 15px;
    color: #fff;
    letter-spacing: 5px;
    font-size: 15px;
}

.book .right .screen::before{
    content: '';
    position: absolute;
    top: -20px;
    left: 0px;
    width: 100%;
    height: 20px;
    border-radius: 50%;
    box-shadow: 0px 0px 20px rgba(184, 184, 184, .8);
}

.book .right .cover .chair{
    position: absolute;
    top: 340px;
    width: 100%;
    height: 120px; 
    margin: auto;
    z-index: 10; 
}

.book .right .cover .chair .row{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
}

.book .right .cover .chair .row li{
    list-style: none;
    width: 30px;        
    height: 20px;       
    background: rgba(184, 184, 184, .4); 
    border-radius: 5px; 
    cursor: pointer;
    transition: 0.3s linear;
    font-size: 7px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}

.book .right .cover .chair .row li:hover{
    background: greenyellow;
    color: #000;
}

.book .right .cover .chair .row li:nth-child(6){
    margin-right: 20px;
}

.book .right .cover .chair .row li:nth-last-child(6){
    margin-left: 20px;
}

.book .right .cover .chair .row span{
    color: #fff;
    font-size: 12px;
    font-weight: 600;
}

/* JS class colors */
.book .right .cover .chair .booked{
    background: #fd6565 !important;
}

.book .right .cover .chair .selected{
    background: greenyellow !important;
    color: #000 !important;
}

.book .right .details{
    position: absolute;
    top: 610px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.book .right .details .det-chair{
    display: flex;
    align-items: center;
}

.book .right .details .det-chair li{
    position: relative;
    list-style: none;
    border-radius: 5px;
    transition: .3 linear;
    margin: 0 25px;
    font-weight: 600;
    font-size: 15px;
    color: rgba(184, 184, 184, .3);
}

.book .right .details .det-chair li::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 15px;
    background-color: rgba(184, 184, 184, .3);
    border-radius: 5px;
    left: -30px;
    top: 2px;
    transition: .3s linear;
}

.book .right .details .det-chair li::after{
    content: '';
    position: absolute;
    width: 20px;
    height: 4px;
    background-color: rgba(184, 184, 184, .1);
    border-radius: 10px;
    left: -30px;
    bottom: -5px;
    transition: .3s linear;
}

.book .right .details .det-chair li:nth-child(2):after{
    background: #fd6565;
}

.book .right .details .det-chair li:nth-child(2)::before{
    background: #fd6565;
}

.book .right .details .det-chair li:nth-child(3):after{
    background: greenyellow;
}

.book .right .details .det-chair li:nth-child(3)::before{
    background: greenyellow;
}

.book .right video{
    position: absolute;
    left: 37px;
    top: 0;
    width: 101%;
    height: 100%;
    z-index: -8;
    display: none;
}

.book .right .book-tic{
    position: absolute;
    top: 610px;
    right: 5%;
    padding: 8px 9px;
    border-radius: 50%;
    outline: none;
    background: #fd6565;
    color: #fff;
    font-size: 10px;
    cursor: pointer;
    transition: .3 linear;
    display: none;
}

.book .right .back-tic{
    position: fixed; 
    bottom: 20px; 
    left: 24%;    
    padding: 8px 9px;
    border-radius: 50%;
    outline: none;
    background: #fd6565;
    color: #fff;
    font-size: 10px;
    cursor: pointer;
    transition: .3 linear;
    display: none;
}

.book .right .book-tic:hover{
    color: #000;

}

.book .right .ticket{
    position: absolute;
    top: 160px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 20;
    display: none;
}

.book .right .ticket::-webkit-scrollbar{
    display: none;
}

.book .right .ticket .tic{
    width: 90%;
    height: 215px;
    display: flex;
    margin-top: 20px;
}

.book .right .ticket .tic .barcode , .tic-det{
    width: 100%;
    height: 100%;
    position: relative;
}

.book .right .ticket .tic .barcode{
    width: 300px;
    padding: 0 20px;
    background: #fff;
}

.book .right .ticket .tic .tic-det{
    background: url(../img/fm3.jpg)no-repeat center -75px/cover;
}

.book .right .ticket .tic .barcode .card{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.book .right .ticket .tic .barcode .card:nth-child(1){
    margin-top: 15px;
}

.book .right .ticket .tic .barcode .card h6{
    width: 60%;
    text-align: left;
    font-weight: 600;
}

.book .right .ticket .tic .barcode .card h6:nth-child(1){
    width: 40%;
}

.book .right .ticket .tic .barcode h5{
    width: 100%;
    text-align: center;
}

.book .right .ticket .tic .tic-det .type{
    position: absolute;
    left: 20px;
    color: #fff;
    top: 7px;
    font-weight: 600;
}

.book .right .ticket .tic .tic-det .pvr{
    position: absolute;
    right: 20px;
    color: skyblue;
    top: 7px;
    font-weight: 600;
    font-size: 15px;
}

.book .right .ticket .tic .tic-det .pvr span{
    color: #fff;
    font-weight: 600;
    font-size: 15px;
}

.book .right .ticket .tic .tic-det h1{
    color: #fff;
    position: absolute;
    left: 170px;
    bottom: 100px;
}

.book .right .ticket .tic .tic-det .seat-det{
    position: absolute;
    left: 0;
    bottom: 8px;
    width: 100%;
    height: 60px;
    background: linear-gradient(270deg, transparent, rgb(0,0,0,.3));
    display: flex;
    align-items: center;
    padding-left: 25px;
}

.book .right .ticket .tic .tic-det .seat-det .seat-cr{
    width: 100px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    flex-direction: column;
}

.book .right .ticket .tic .tic-det .seat-det .seat-cr h6:nth-child(1){
    font-size: 11px;
    font-weight: 600;
    
}

.book .right .ticket .tic .tic-det .seat-det .seat-cr h6:nth-child(2){
    font-size: 15px;
    font-weight: 800;
}

